*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    background-size: cover;
    max-width: 100%;
    max-width: 100%;
}
h1{

    padding: 10px;
    background-color: rgb(72, 72, 117);
    color:white;
    text-align: center;
}

h2 {
    padding: 10px;
}

#cityName{

    padding: 5px;
    margin: 10px;
}
button{

    display: block;
    padding: 5px;
    width: 213px;
    margin: 8px;
    background-color: rgb(72, 72, 117);
    color: white;
}